.teamBench {
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  width: 400px;
  background-color: transparent;
  margin-bottom: 11%;
}

@media (max-width: 1024px) {
  .teamBench{
    display: flex;
    order: 2;
    
  }
}