.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #588f58;
}
.navbar {
  text-align: center;
  background-color: #588f58;
  display: flex;
}

.benches {
 
  background-color: #588f58;
}

.homeTeam {
  display: inline-block;
  padding-right: 100px;
  padding-bottom: 20px;
}

.awayTeam {
  display: inline-block;
  padding-bottom: 20px;
}


@media (max-width: 1024px) {
  .App{
    flex-direction: row;
    justify-content: center;
    order: 0;
  }
    .benches{
    transform: rotate(270deg);
    top:  50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    order: 2;
  }
  .homeTeam,
  .awayTeam{
    padding: 0;
    
  }
  .navbar{
    order: 1;
    align-self: flex-start;
    
  }
}