.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.benches {
  display: flex;
  justify-content: center;
  background-color: #588f58;
}

.homeTeam {
  margin-right: 40px;
}

.awayTeam {
  margin-left: 40px;
}

@media (max-width: 1024px) {
  .App {
    transform: rotate(90deg);
    height: inherit;
    width: inherit;
  }
  .benches {
  }
}
