.App {
  text-align: center;
}

.navBar{
  position: fixed;
  top: 0;
  background-color: aliceblue;
}

.pitch {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: #588f58;

 
}
@media (max-width: 1024px) {
    
  .pitch {
    transform: rotate(90deg)
    
  }

}

.patternSelector {
  position: relative;
}

.benches {
  position: fixed;
  bottom: 0;
  width: 100%;

}

.homeTeam {
  display: inline-block;
  padding-right: 100px;
  padding-bottom: 20px;
  
}

.awayTeam {
  display: inline-block;
  padding-bottom: 20px;
}
